html,body{
    height: 100%;
}

/*
a[href} ataca todos os link 

*/

a[href="https://www.google.com.br/"]{ /*atca diretamente a tag do link da pagina*/
    background-color: aqua;
}

a[href*="danki"]{ /*ataca o nome especificado*/
    background-color: black;
}