*{margin: 0; padding: 0;}
html{height: 100%;}
/*
table{ tabela centralizada 
    width: 900px;
    margin: 0 auto;
    background-color: gray;
    border-collapse: collapse; deixa as bordas colidirem e transforma em apenas uma.
}

table td{
    height: 250px;
    border: 2px dotted white;
}*/

.menu-fixed{
    width: 100%;
    height: 200px;
    background-color: peru;
    position:fixed;/*fixa uma tag / absolute em canto da pagina*/
    top: 400px;

}

.box{
    width: 100%;
    height: 1500px;
    background-color: black;
    
}

.box p{
    width: 400px;
    color: aliceblue;
}