* {
    margin: 0;
    padding: 0;
}

height,body{
    height: 100%;
}

/*propriedade para movimentar depois de um movimento na tela
.box1:hover{ /*quando passa o mouse vai fazer o que esta dentro da propriedade  
    background-color: aqua;
    height: 1000px;
}

.box1:hover , .box2, .box3{
    vertical-align: top;
 
}*/

/*Active quando pressiona o mouse

.box1:active{
    background-color: black;
}*/


/*focus quando clicar em uma area ele mudar a cor de acordo com foi definido; focamos em um elemento

.teste:focus{
    background-color: blue;
}*/
/*link especifica a cor dele e visited é quando voce pressiona o link e visita
a:visited{
    background-color: rgb(8, 245, 205);
}*/
/*
ul{
    list-style:inside;
    margin: 100px;
}

ul li:nth-of-type(3), li:nth-of-type(1){ /*ataca o elemento selecionado da lista  
    background-color: yellow;
    font-size: 30px;
}

ul span:nth-child(5){
    color: brown;

} /*referencia aos filho */
/*
.box {
    width: 100%;
}

.item {
    box-sizing: border-box;
    float: left;
    width: 33.3%;
    height: 100px;
    background-color: black;
    border: 1px solid white;

}

/*not(.class) aplica o que nao tiver contendo o elemento especificado
/*  last-child pega o ultimo elemento filho que faz referencia ao elemento pai/ nao funciona quando tem um elemento abaixo

.box>div:last-of-type p {
    /*Pega o ultimo elemento do meu tipo ---- pode referencia a outros elemntos
    background-color: blue;
    color: cyan;
}
 first ataca a priemira
p {
    color: white;
}

.item>p::before {
    /*ataca antes do texto ou elemento / ::after ataca depois que termina
    content: 'geeee';
    /*insere conteudo ou deixa em branco
    background-color: }aqua;*/


.parent{
    width: 100%;
    padding: 90px 0;
    background-color: blue;
    text-align: center;
}

.item{
    display: inline-block;
    width: 300px;
    height: 300px;
    background-color: black;
    margin: 10px 0;
}
/* especifica o que vai ataca / caso tenha outro elemento dentro > ex:div .el
    .parent div:nth-of-type(2n + 1) comece no primeiro elemento e depois mais 2.


*/
.parent div:nth-of-type(2n + 1) > div.item{
    background-color: rgb(41, 41, 41);
}