*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;      
}
.clear{
    clear: both;
}

html,body   {
    height: 100%;
}

/* HEADER */

header{
    padding: 15px;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin:0 auto;
}

header .logo img{
    float: left;
    width: 250px;
}

nav.menu-mobile{
    display: none;
    
}

header nav.menu-desktop{
    float: right;
    padding: 8px 0;
}

header nav.menu-desktop ul{
    list-style: none;
}

header nav.menu-desktop ul li{
    float: left;
    font-size: 15px;
    text-transform: uppercase;
    padding: 0 20px;
}

header nav ul li a{
    text-decoration: none;
    color:black;
}


 /* section mosaico */

.mosaico-single{
    float: left;
    width: calc(100% / 6);
}

.img-mosaico-single{
    width: 100%;
    padding-top: 100%;
    background-color:#576975;
    border: 5px solid white;
 
}

/* Section servico */
section.servicos > .container{
    max-width: 800px;
    display: flex;
    align-items: center;
    position: relative;
    top: -30px;
    text-align: center;
}

section.servico > .container .box-servico{
    background-image: url('img/icone_dente.png');
    background-size: 15px 15px;
    background-position: center bottom;
    background-repeat: no-repeat;
}

section.servicos > .container > .box-servico h2{
    color: wheat;
    font-size: 15px;
}
section.servicos > .container > .box-servico p{
    font-size: 10px;
    color: rgb(0, 8, 8);
    margin-top: 8px
}

section.servicos > .container .box-servico:nth-of-type(1){
	width: 30%;
	padding:30px 2%;
	background-color: #576975;
}

section.servicos > .container .box-servico:nth-of-type(2){
	width: 40%;
	padding:45px 2%;
	background-color: #688293;
	background-image: none;
}

section.servicos > .container .box-servico:nth-of-type(3){
	width: 30%;
	padding:30px 2%;
	background-color: #576975;
}


/*section perfil*/

section.perfil-container .container{
    max-width: 800px;
}

section.perfil-container .perfil-wrap{
    padding-top:60%;
    position: relative;
}

section.perfil-container .perfil-wrap2{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;

} 

section.perfil-container .img-perfil{
    width: 40%;
    height: 100%;
    background-image: url('img/img_perfil.png');
    background-size: 100% 100%;
}


section.perfil-container .texto-perfil{
    width: 60%;
    padding:0  40px;
    margin-top: 30px;
}

section.perfil-container .texto-perfil p{
    margin-top: 20px;
    font-size: 15px;
    text-align: justify;
}

/* videos */

section.videos{
    padding: 50px 0;
}

section.videos .box-video{
    float: left;
    width: 33.3%;
    position: relative;
    padding-top:calc(33.3% * 0.6);
    border: 5px solid white;

}
section.videos iframe{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Tratamentos */
section.tratamentos .tratamento-container{
    float: left;
    width: 33.3%;
}

.single-tratamento{
    padding: 20px;
}

.single-tratamento h2{
    font-size: 19px;
    color: chocolate;
}

.single-tratamento p{
    margin-top: 10px;
    font-size: 14px;
    color: #576975;
    text-align: justify;
}


section.tratamentos > h2{
    color: blue;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    font-family:Arial;
}

section.tratamentos > .container{
    padding: 60px 0;
}
/*  */


/* Depoimentos */



/**/

/* Medias query */

@media screen and (max-width:860px){
    nav.menu-desktop{
        display: none;
    }

    nav.menu-mobile{
        float: right;
        width: 28px;
        height: 28px;
        background-image: url('img/menu-mobile.png');
        background-size:100% 100%;
        background-repeat: no-repeat;
        cursor: pointer;
        display: block;
    }
    nav.menu-mobile ul{
        position: absolute;
        left: 0;
        top: 70px;
        background-color: aliceblue;
        text-align: center;
        width: 100%;
        z-index:2;
        display: none;
    
    }
    nav.menu-mobile ul li{
        text-transform: uppercase;
    }
    nav.menu-mobile ul li{
        padding: 10px 0;
    }    
    section.videos{
        text-align: center;
    }

    section.videos .box-video{      
        width: 80%;
        position: relative;
        padding-top:calc(100% * 0.6);
        border: 5px solid white;
        display: inline-block;
        float: none;
    }
    section.videos iframe{
        position:absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
   


}
@media screen and (max-width:658px){
    nav.menu-desktop{
        display: none;
    }
    nav.menu-mobile{
        display: block;
        float: right;
        width: 28px;
        height: 28px;
        background-image: url('img/menu-mobile.png');
        background-size:100% 100%;
        background-repeat: no-repeat;
        cursor: pointer;
    }
    nav.menu-mobile ul{
        position: absolute;
        left: 0;
        top: 70px;
        background-color: aliceblue;
        text-align: center;
        width: 100%;
        z-index:2;
        display: none   ;
    
    }
    nav.menu-mobile ul li{
        text-transform: uppercase;
    }
    nav.menu-mobile ul li{
        padding: 10px 0;
    }


    section.servicos > .container{
        flex-direction: column;
    }
    section.servicos > .container .box-servico:nth-of-type(1){
        width: 90%;
        max-width: 400px;
    }
    
    section.servicos > .container .box-servico:nth-of-type(2){
        width: 90%;
        max-width: 430px;
    }
    
    section.servicos > .container .box-servico:nth-of-type(3){
        width: 90%;
        max-width: 400px;
    }
    section.perfil-container .perfil-wrap{
        padding-top: 0;
    }
    section.perfil-container .perfil-wrap2{
        text-align: center;
        display: inline-block;
        height: auto;
        position: static;  

    } 
    section.perfil-container .img-perfil{
        width: 70%;
        display: inline-block;
        height: auto;
        padding-top: 60%;
    }
    
    
    section.perfil-container .texto-perfil{
        width: 100%;
        display: inline-block;
        padding:0  40px;
        text-align: justify;
    }
    section.videos{
        text-align: center;
    }

    section.videos .box-video{      
        display: inline-block;
        float: none;
        width: 90%;
        position: relative;
        padding-top:calc(100% * 0.6);
    }
    section.videos iframe{
        position:absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
}




