html,body{
    height: 100%;
}

.box{
    width: 600px;
    height: 400px;
    color: green;

}

.box span{ /*inherit herda o valor da propriedade acima ! - initial reseta qual valor pre-definidoo*/
    display: inline-block;
    width: inherit;
    height: inherit;
    background-color: red;
}