.pai{
    width: 1280px;
    padding: 20px 0;
    background-color: blue;
    margin: 0 auto;
}

.filho{
    box-sizing: border-box;
    width: 640px;
    height: 150px;
    background-color: red;
    float: left; /*posiciona o elemento para direita ou para esquerda*/
    border: 1px dashed black;
    text-align: center;
    font-size: 20px;
    padding: 50px 0;
    color: wheat;
}