*{
    padding: 0;
    margin: 0;
}
/*
html,body{
    height: 100%;
}*/
/*definição do formulario */
form{
    width: 90%;
    max-width:600px ;
    margin: 30px auto;
    text-align: center;
}
form fieldset{ /*agrupamento dos input*/
    padding: 0 40px;
    border: 4px dashed black;
    text-align: center;
}
form legend{ /*Nome do formulario*/
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    text-align: left;
}
/*inputs*/
form input[type=text]{
    display: inline-block;
    width: 70%;
    margin: 20px;
    padding: 3px 3px;
}

form input[type=email]{
    display: inline-block;
    width: 70%;
    margin: 20px;
    padding: 3px 3px;
}
 
/*estilização do select da idade*/
div select{
    width:72%;
    height: 30px;
    background-color: rgb(219, 206, 206);
    color: rgb(0, 0, 0);
    margin: 20px;
    display: inline-block;
}

.radio-input{ /*botao de seleciona um pais*/
    display: inline-block;
    text-align: left;
    margin: 10px;
}

.radio-input span{
    margin-left: 10px;
    font-size: 10px;
    text-transform: uppercase;
    
}

.check-input{/*caixa de seleção*/
    display: inline-block;
    text-align: left;
    margin: 10px;
}

.check-input span{
    margin-left: 10px;
    font-size: 15px;
      text-transform: uppercase;
}


form textarea{
    border:1px solid #cd1;
    margin-top: 20px;
    width: 80%;
    height: 100px;
    padding: 10px 13px;
    resize: none;
}   

form input[type=submit]{/*botao enviar */
    width: 80px;
    height: 30px;
    margin:20px;
    font-size: 15px;
    text-transform: uppercase;
}
