*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}
.clear{
    clear: both;
}

header{
    width: 100%;
    height: 80vh;
    padding: 40px 2%;
    max-height: 700px;
    background-image: url(img/capa.png);
    background-position: center;
    background-size: cover;
}

header nav{
    float:right;
}
header .logo{
    width: 160px;
    height: 50px;
    background-color: rgb(158, 158, 196);
    float: left;
}
header nav ul{
    list-style: none;
}

header nav li{
    display: inline-block;
    margin: 20px 40px;
}

header nav a{
    text-decoration: none;
    color: rgb(223, 222, 222);
}

.chamada1{
    float: right;
    width:700px;
    margin: 40px;
}
.chamada1 h2{
    color: azure;
    font-size: 40px;
    
}

.chamada1 p{
    color: white;
    margin-top: 20px;
}

/*Sessao header terminada*/

/*sessao 1*/

section .container{
    width: 75%;
}

section.sessao-1{
    width: 100%;
    background-color: purple;
    padding:0 2%;
    height: 400px;
}

.texto-sessao1{
    width: 50%;
    float: left;
    position: relative;
    left: 45px;
    margin-top: 60px;
    padding-left: 80px;
}

.texto-sessao1 h2{
    font-weight: 300;
    font-size: 26px;
}

.texto-sessao1 p{
    color: white;
    font-size: 20px;
    margin-top: 20px;
}
.texto-sessao1 ul{
    font-size: 15px;
    list-style-position: inside;

}
.texto-sessao1 ul li{
    float: left;
    width: 100%;
    margin-top: 8px;

}

.btn-1{
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

.btn-1 button{
    width: 100px;
    height: 40px;
    background-color: #ff703d;
    border-radius: 30px;
    text-align: center;
    
}

.device{
    float: left;    
    width: 50%;
    position: relative;
    top: -30px;
    height: 430px;
    background-image: url(img/device.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}



@media screen and (max-width:768px){
    section.sessao-1{
        padding:40px 2%;
        height:auto;
        text-align: center;
    }
    .texto-sessao1{
        width: 100%;
        margin-top: 0;
        position: static;
        float: none;
    }
    .texto-sessao1 ul{
        display: inline-block;

    }

    .texto-sessao1 ul li{
        float: none;
        text-align: left;
}
    .device{
        display: none;
    }


   
    
}