*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

.clear{
    clear: both;
}

header{
    padding: 20px 2%;
}

.clear{
    clear: both;
}

/* nav bar */

.container{
    padding: 0 2%;
}
.container > .logo{
    float: left;
}

.container > .nav-desktop{
    float: right;   
    position: relative;
    top: 40px;
}
/* desktop */
.nav-desktop ul{
    list-style-type: none;
}

.nav-desktop ul li{
    float: left;
    padding: 0 10px;
}

.nav-desktop ul li a{
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    color: black;
}
/* mobile */
.nav-mobile{
    float: right;

    width: 32px;
    height: 32px;
    background-image: url('imagens/icon_menu.png');
    background-size:100% 100%;
    cursor: pointer;
    display: none;
    margin-top: 40px;
 }

 .nav-mobile ul{
    width: 100%;
    position: absolute;
    left: 0;
    top: 110px;
    z-index: 1;
    background-color: wheat;
    list-style-type: none;
    text-align: center;
   
 }

 .nav-mobile ul li{
    font-size: 23px;
    padding: 20px 0px;
    font-style: italic;
    border: 2px solid black;
 }
 .nav-mobile li a {
    text-decoration: none;
 }
 


/* banner */
section.banner{
    width: 100%;
    height: 500px ;
    /* max-height: 500px; */
    background: black;
    background-image: url('imagens/bg.jpg');
    background-size:contain;
    background-repeat: no-repeat;
    background-position: right bottom;
}

.text-banner{
    padding: 100px 150px;
    float: left;
    width: 100%;
}

.text-single-banner{
    width: 315px;
    padding: 20px 30px;
    height: 60px;
    text-transform: uppercase;
    color: white;
    font-size: 23px;
    background-image: url('imagens/box-text.png');
    background-size: 100% 100%;
    margin-top: 20px;
    font-style: italic;
}

.text-single-banner:nth-of-type(2){
    width: 200px;
    position: relative;
    height: 60px;
    left: -10px;
}
    
.text-single-banner:nth-of-type(3){
    width: 170px;
    position: relative;
    left: -20px;
    height: 60px;
}

/*veiculos em destaque  */

section.veiculos-destaque{
    padding: 70px 2%;
}

section.veiculos-destaque .container {
        width: 100%;
        max-width: 1000px; 
        padding: 40px 0;
        margin: 0 auto;
}


.line-titulo{
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.line{
    position: absolute;
    height: 1px;
    width: 100%;
    top: 15px;
    background-color: black;
    
}
section.veiculos-destaque .line-titulo h2{
    position: relative;
    background: white;
    display: inline-block;
    text-align: center;
    font-size: 24px;
    font-style: italic;
    text-transform: uppercase;
    padding: 0 20px;
    
}

.vitrine-destaque{
    float: left;
    width: 33.3%;
   
}

.vitrine-destaque .carro-img{
    width: 100%;
    padding-top: 100%;
    background-size: 100% 100%;
    border: 8px solid white;
}



.vitrine-destaque > .info-carro > h2{
    text-transform: uppercase;
    font-size: 18px;
    font-style: italic;
    margin-left: 8px;
}

.vitrine-destaque > .info-carro > p {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 20px;
    color: #0000dd;
    font-weight: bold;
    margin-left: 8px;
}

.vitrine-destaque > .info-carro > a {
    color:aliceblue;
    font-style: italic;
    font-weight: bold;
    margin-left: 8px;
    width: 150px;
    font-size: 16px;
    background-color: #EB2D2D;
    text-decoration: none;
    padding: 14px;
    display: block;
    text-align: center;
    text-transform: uppercase;
}
/*sessao depoimentos  */

.serviços-w50{
    float: left;
    width: 50%;
    padding: 90px 0;
    background-color: #EB2D2D ;
    color:black;
    text-align: center;
}

.serviços-wraper{
    display: inline-block;
    text-align: left;
}

.serviços-wraper h2{
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
}

.serviços-wraper ul{
    display: inline-block;
    margin-top: 14px;
}

.serviços-wraper li{
    margin-left: 15px;
    font-size: 18px;
}

.serviços-wraper a{
    display:  inline-block;
    vertical-align: bottom;
    width: 150px;
    height: 50px;
    line-height: 50px;
    background-color:#0000dd;
    color:#ffffff;
    text-align: center;
    margin-left: 30px;
    font-size: 20px;
    text-decoration: none;
    font-style: italic;
    text-transform: uppercase;
}





/* fim da sessao *//

/* medias query */

@media screen and (max-width:720px){
    .nav-desktop{
        display:none;
    } 
    .nav-mobile{
        display: block;
    }
    .nav-mobile ul{
        display: none;
    }

}

@media screen and (max-width:580px){
    .text-banner{
        padding: 40px 20px;
      
    }

    .text-single-banner{
        width: 315px;
        padding: 20px 30px;
        height: 60px;
        text-transform: uppercase;
        color: white;
        font-size: 18px;
        background-image: url('imagens/box-text.png');
        background-size: 100% 100%;
        margin-top: 20px;
        overflow: hidden;
    }
    
    .text-single-banner:nth-of-type(2){
        width: 200px;
        position: relative;
        height: 60px;
        left: -10px;
    }
        
    .text-single-banner:nth-of-type(3)
    {
        width: 170px;
        position: relative;
        left: -20px;
        height: 60px;
    }
    section.veiculos-destaque .container {
        max-width: 1000px;
        padding: 40px 0;
        text-align: center;
    }
    .vitrine-destaque{
        float: none;
        width: 75%;
        margin-top: 15px;
       
    }
  

}
@media  screen and (max-width:660px){
    
    section.veiculos-destaque .container {
        max-width: 1000px;
        padding: 40px 0;
        text-align: center;
    }
    .vitrine-destaque{
        display: inline-block;
        float: none;
        width: 75%;
        margin-top: 15px;
       
    }
    .vitrine-destaque > .info-carro > a{
        display: inline-block;
    }
    
    
}


@media  screen and (max-width:560px){
    
    section.veiculos-destaque .container {
        max-width: 1000px;
        padding: 40px 0;
        text-align: center;
    }
    .vitrine-destaque{
        display: inline-block;
        float: none;
        width: 75%;
        margin-top: 15px;
    }
    .vitrine-destaque > .info-carro > a{
        display: inline-block;
    }
    
    
}
   