*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear{clear: both;}

header{
    background-color: #2359af;
    padding: 10px 0;
}
.center {
    max-width: 1100px;
    padding: 0 2%;
    margin: 0 auto;
}

div.logo{
    color: white;
    float: left;
}

.logo h2{
    font-size: 29px;
    font-weight: nor;
}

form.form-login{
    float: right;
}

.form-login .form-element{
    display: inline-block;
}

.form-element p{
    color: white;
    font-size: 14px;
}

.form-element input[type=submit]{
    cursor: pointer;
    background:#2359af;
    color: white;
    border: 2px solid #dbe1e9;
}

.main{
    background: linear-gradient(white,rgb(224, 220, 220));
    padding: 40px;
}

imagem-pessoas {
    float: left;
    width: 70%;
}

img{
   max-width:100%;
}
